
.tableContainer
{
    padding-left: 200px;
}

a { color: inherit; 
color: white;
font-style: none;
text-decoration: none;
} 

.button
{
    color: white;
    font-style: none;
    
}